<%- include('partials/header') %>


<div class="centered">
  <div class="container homediv">
    
    <h1 class="display-4 homeHeading">Secrets!</h1>
    
    <p class="lead">Don't keep your secrets, share them anonymously <i class="fas fa-key fa-1x"></i></p>
    <hr>
    <a class="btn btn-outline-secondary btn-lg registerbtn" href="/register" role="button">Register</a>
    <a class="btn btn-outline-dark btn-lg loginbtn" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
