<%- include('partials/header') %>

<div class="centered">
  <div class="container homediv secretdiv">
    <h1 class="display-4 homeHeading secretHeading">You've Discovered My Secret! <i class="fas fa-key"></i></h1>

    <% usersWithSecrets.forEach(function(user){ %>
      <p class="secret-text"><%=user.secret%></p>
    <% }) %>

    <hr>
    <a class="btn btn-outline-secondary btn-lg registerbtn logoutbtn" href="/logout" role="button">Log Out</a>
    <a class="btn btn-outline-dark btn-lg loginbtn " href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
