<%- include('partials/header') %>

<div class="container">
  <div class="centered homediv">
    <h1 class="display-4 homeHeading">Secrets!</h1>
    <p class="lead">Don't keep your secrets, share them anonymously <i class="fas fa-key"></i></p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center submitTab" name="secret" placeholder="What's your secret?">
      </div>
      <button type="submit" class="btn btn-outline-dark btn-lg submitbtn">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
